BOT_TOKEN=
ADMIN_ID=
BASE_URL=
HTTP_PORT=8080
MAX_DEVICES=3
SPEED_LIMIT=3
CHECK_TIMEOUT=6
CONCURRENCY=10
MAX_LATENCY=1.0
MAX_RESULT=100
SOURCE_URLS=https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/WHITE-CIDR-RU-checked.txt,https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/WHITE-CIDR-RU-all.txt,https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/WHITE-SNI-RU-all.txt,https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/Vless-Reality-White-Lists-Rus-Mobile.txt,https://raw.githubusercontent.com/igareck/vpn-configs-for-russia/main/Vless-Reality-White-Lists-Rus-Mobile-2.txt
