BOT_TOKEN=
ADMIN_ID=
BASE_URL=
HTTP_PORT=8080
MAX_NODES=45
MAX_DEVICES=3
SPEED_LIMIT=3
CHECK_TIMEOUT=6
CONCURRENCY=10
RU_RATIO=0.25
SOURCE_URL=https://raw.githubusercontent.com/zieng2/wl/main/vless_lite.txt
