BOT_TOKEN=
ADMIN_ID=
BASE_URL=
HTTP_PORT=8080
MAX_DEVICES=3
CHECK_TIMEOUT=8
CONCURRENCY=10
MAX_LATENCY=5.0
MAX_RESULT=300
RETRIES=3
SOURCE_URLS=https://github.com/igareck/vpn-configs-for-russia/blob/main/WHITE-CIDR-RU-checked.txt
